.login-page{
  width: 380px;
  margin: 24px auto;
  max-width: 100%;
}
.login-title{
  border-bottom: solid 1px #d1d7dc;
  color: #1c1d1f;
  display: block;
  font-weight: 700;
  font-size: 15px;
  padding: 24px 64px 24px 24px;
  margin-top: 0;
  margin-bottom: 0;
}
